﻿@using WebDulich.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDulich.Models.TINTUC>
@{
    ViewBag.Title = "Địa Danh | Miền Nam";
    Layout = "~/Views/Shared/_LayoutVungmien.cshtml";
}
@section script {
    <!-- Full Page Image Background Carousel Header -->
    <header id="mainCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slider_overlay"></div>
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/miennam_3.jpg');">
                </div>
            </div>
            <div class="item">

                <div class="slider_overlay"></div>
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/miennam_1.jpg');">
                </div>
            </div>
            <div class="item">
                <div class="slider_overlay"></div>
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/miennam_2.jpg');">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#mainCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
}

<h2 class="title-search">Du lịch Miền Nam</h2>
<p>
    <strong>Du lịch Miền Nam</strong> nổi tiếng với những cánh đồng lúa thẳng cánh cò bay cùng hệ thống sông ngòi chằng chịt.<strong> Du lịch Miền Nam </strong>với những chiến tích vang dội còn lưu danh nơi căn cứ Minh Đạm, TW Cục miền Nam hay Côn Đảo, Phú Quốc. Đến với <strong>Du lịch Miền Nam</strong> không thể không nhắc đến một Thành phố Hồ Chí Minh sôi động, náo nhiệt sẽ mang đến cho du khách những ngày nghỉ thật tưng bừng.
</p>

<h2 class="title-search">Danh sách các điểm du lịch</h2>

<div class="col-sm-12 col-md-12">
    @foreach (var item in Model)
    {
        if (item.LOAITIN.TENLOAI == "MIỀN NAM")
        {
            <div id="box-vungmien" class="col-sm-6 col-md-6 column-space">
                <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})">
                    <img src="@item.HINHANH" />
                </a>
                <div id="box-mota">
                    <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})"><h4><b>@Html.DisplayFor(modelItem => item.TENTIN)</b></h4></a>
                    <h6>@Html.DisplayFor(modelItem => item.MOTA)</h6>
                </div>
                <div class="btn-toolbar text-center">
                    <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})" role="button" class="button btn btn-success">Xem ngay</a>
                </div>
            </div>
        }
    }
</div>

<div class="col-sm-12 col-md-12 text-center">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Miennam", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>
