﻿@using WebDulich.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDulich.Models.TINTUC>

@{
    ViewBag.Title = "Khám phá | Tin Tức";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Full Page Image Background Carousel Header -->
<header id="mainCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slider_overlay"></div>
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide2.jpg');">
            </div>
        </div>
        <div class="item">

            <div class="slider_overlay"></div>
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide1.jpg');">
            </div>
        </div>
        <div class="item">
            <div class="slider_overlay"></div>
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide3.jpg');">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div id="about">
    <div class="container">
        <div id="body">

            <section id="contentt" class="col-xs-12 col-lg-8">
                <div class="col-sm-6 col-md-6 column-space">
                    <div class="title-search text-center">
                        <h3>Tin tức</h3>
                    </div>
                    @foreach (var item in Model)
                    {
                        if (item.LOAITIN.TENLOAI == "TIN TỨC")
                        {
                            <div id="box-tin" class="column-news">
                                <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})"><h4><b>@Html.DisplayFor(modelItem => item.TENTIN)</b></h4></a>
                                <small>(@Html.DisplayFor(modelItem => item.NGAYDANG))</small>
                                <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})">
                                    <img src="@item.HINHANH" />
                                </a>
                                <h5>@Html.DisplayFor(modelItem => item.MOTA)</h5>
                            </div>
                        }
                    }
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                </div>
                <div class="col-sm-6 col-md-6 column-space">
                    <div class="title-search text-center">
                        <h3>Video</h3>
                    </div>
                    <div id="box-tin" class="column-news">
                        <h4><b>Top 10 địa điểm du lịch đep nhất Viêt Nam</b></h4>
                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/YPfIgLougL8" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="box-tin" class="column-news">
                        <h4><b>Hành trình xuyên việt của 2 thanh niên người Nga</b></h4>
                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/WmCwwmeBgKw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="box-tin" class="column-news">
                        <h4><b>Du lịch Việt Nam - Phóng sự du lịch Huế</b></h4>
                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/35_TXi8QAsc" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="box-tin" class="column-news">
                        <h4><b>Du lịch Việt Nam - Phóng sự cảnh đẹp Đà Lạt</b></h4>
                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/qkv3fKTFydU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <section id="contentt" class="col-xs-12 col-lg-4 text-center">
                <h2 class="title-search text-center"> Vùng miền </h2>
                <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Du lịch Miền Bắc</h4></a>
                <hr />
                <a href="@Url.Action("Mientrung", "Diadanh")"> <h4>Du lịch Miền Trung</h4></a>
                <hr />
                <a href="@Url.Action("Miennam", "Diadanh")"> <h4>Du lịch Miền Nam</h4></a>
                <hr />
                <a href="@Url.Action("Mientay", "Diadanh")"> <h4>Du lịch Miền Tây</h4></a>
                <hr />
                <a href="@Url.Action("Taynguyen", "Diadanh")"> <h4>Du lịch Tây Nguyên</h4></a>
                <hr />
                <a href="@Url.Action("Biendao", "Diadanh")"> <h4>Du lịch Biển Đảo</h4></a>
                <hr />
                <div class="fb-page" data-href="https://www.facebook.com/kpdulichvn/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/asstorevn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kpdulichvn/">Khám Phá Du Lịch Việt Nam</a></blockquote></div>
            </section>

        </div>
    </div>
</div>