﻿@model WebDulich.Models.BAIVIET

@{
    ViewBag.Title = "Khám phá | Sửa Bài Viết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Sửa
}


<div class="content">

    @using (Html.BeginForm("AcceptWrite", "AdminManager", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3" name="id_loai" for="pwd">Loại tin:</label>
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.ID_LOAI, ViewBag.listCate as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Người viết:</label>
                <div class="col-md-5">
                    <label>
                        @if (Model.ID_USER != null)
                        {
                            @Model.NGUOIDUNG.TEN
                        }
                        else
                        {
                            @Model.NGUOIDUNGFB.TEN
                        }
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" name="tieude" for="pwd">Tiêu đề:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TIEUDE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TIEUDE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" name="mota" for="pwd">Mô tả:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Ảnh Bìa:</label>
                <div class="col-md-5">
                    <img src="@Model.ANHBIA" alt="hinh" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Ảnh bìa cần thay đổi:</label>
                <div class="col-md-5">
                    <input type="text" name="hinh" id="HinhAnh" value="@Model.ANHBIA" />
                    <input type="button" value="Chọn Ảnh ..." onclick="BrowseServer('');" />
                </div>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Ngày đăng:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.EditorFor(model => model.NGAYDANG, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NGAYDANG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Nội dung:</label>
                <div class="col-sm-7">
                    <textarea id="editor1" name="noidung" rows="3">
                        @Model.NOIDUNG
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Duyệt" class="btn btn-success" /> |
                    @Html.ActionLink("Trở về", "ListWrite")
                </div>
            </div>
        </div>
    }
</div>