﻿@model WebDulich.Models.TINTUC

@{
    ViewBag.Title = "Khám phá | Thêm Tin Tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Thêm
}

<div class="content">

    @using (Html.BeginForm("CreatePost", "AdminManager", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Loại tin:</label>
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.ID_LOAI, ViewBag.listCate as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Tiêu đề:</label>
                <div class="col-md-5" >
                    @Html.EditorFor(model => model.TENTIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENTIN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Mô tả:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Hình ảnh:</label>
                <div class="col-md-5">
                    <input type="text" name="hinh" id="HinhAnh" />
                    <input type="button" value="Chọn Ảnh ..." onclick="BrowseServer('');" />
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-3" for="pwd">Ngày đăng:</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.NGAYDANG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NGAYDANG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Nội dung:</label>
                <div class="col-sm-7">
                    <textarea id="editor1" name="noidung" rows="3">
                        
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Thêm" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

</div>