﻿@model WebDulich.Models.NGUOIDUNG

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Xóa
}

<div class="container">
    <div class="box-body">
        <h2>Xác nhận thông tin cần xóa</h2>
        <hr />
        <div class="col-lg-10">
            <p><h4><b>- Mã người dùng:</b> @Model.ID</h4></p>
            <p><h4><b>- Họ tên:</b> @Model.TEN</h4></p>
            <p><h4><b>- Tên đăng nhập:</b> @Model.TENDN</h4></p>
            <p><h4><b>- Mật khẩu:</b> @Model.PASS</h4></p>
            <p><h4><b>- Email:</b> @Model.EMAIL</h4></p>
            <p><h4><b>- Số ĐT:</b> @Model.SODT</h4></p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Bạn có chắc chắn muốn xóa người dùng này?</h3>
        <div class="col-lg-offset-0">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "ListUser")
        </div>
    }
    <br />
</div>
