﻿@using WebDulich.Models;
@{
    Layout = null;
    NGUOIDUNG user = (NGUOIDUNG)Session["taikhoan"];
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- 1.0 meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- 2.0 title -->
    <title>@ViewBag.Title</title>
    <!-- 3.0 CSS IMPORT -->
    <!-- CSS IMPORT FOR PLUGIN -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/js/wow/css/libs/animate.css" rel="stylesheet" />
    <link href="~/Assets/js/wordsrotator/jquery.wordrotator.min.css" rel="stylesheet" />
    <link href="~/Assets/css/Bootstrap-social.css" rel="stylesheet" />
    <!-- CSS IMPORT FOR FONT -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS IMPORT FOR MAIN STYLE -->
    <link href="~/Assets/css/stylehome.css" rel="stylesheet" />
    <link href="~/Assets/css/login.css" rel="stylesheet" />

    <style>
        .open > .dropdown-menu-login {
            display: block;
        }

        .dropdown-menu-login {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }

        ol ol, ol ul, ul ol, ul ul {
            margin-bottom: 0;
        }

        ol, ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        ul {
            padding-left: 0;
        }

        ol, ul {
            margin-top: 0;
            margin-bottom: 10px;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        ul li {
            list-style: none;
        }

        .text-center {
            text-align: center;
        }

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            font-size: 100%;
            font: inherit;
        }

        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

</head>
<body>
    <!-- 6.0 wrapper -->
    <div class="wrapper" id="wrapper-large">
        <div class="container-fluid">
            <!-- 6.2 HOME & RETURN BUTTONS -->
            <ul class="return-btn center-block text-center center-icon">
                <li>
                    <a href="@Url.Action("Index", "Home")" class="wow slideInLeft">Trang Chủ <span class="icons-container"><span class="home-icon"></span></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle wow slideInRight" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-fw fa-map-marker"></span>Địa Danh<span class="caret"></span></a>
                    <ul class="dropdown-menu-login dropdowncostume-login text-center">
                        <li><a href="@Url.Action("Mienbac", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Miền Bắc</a></li>
                        <li><a href="@Url.Action("Mientrung", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Miền Trung</a></li>
                        <li><a href="@Url.Action("Miennam", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Miền Nam</a></li>
                        <li><a href="@Url.Action("Mientay", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Miền Tây</a></li>
                        <li><a href="@Url.Action("Taynguyen", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Tây Nguyên</a></li>
                        <li><a href="@Url.Action("Biendao", "Diadanh")"><span class="fa fa-fw fa-map-marker"></span>Biền Đảo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tintuc")" class="wow slideInLeft"><span class="fa fa-fw fa-newspaper-o"></span>Tin Tức </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Lienhe")" class="wow slideInRight"><span class="fa fa-fw fa-book"></span>Liên Hệ </a>
                </li>
                @if (user != null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle wow slideInLeft" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-fw fa-user"></span><small>@user.TEN </small><span class="caret"></span></a>
                        <ul class="dropdown-menu-login dropdowncostume-login text-center">
                            <li> <a href="@Url.Action("Thongtin", "UserAccount")"><span class="fa fa-fw fa-user"></span>Thông Tin</a></li>
                            <li> <a href="@Url.Action("Vietbai", "UserAccount")"><span class="fa fa-fw fa-edit"></span>Viết Bài</a></li>
                            <li> <a href="@Url.Action("Doimatkhau", "UserAccount")"><span class="fa fa-fw fa-refresh"></span>Đổi Mật Khẩu</a></li>
                            <li><a href="@Url.Action("Dangxuat", "UserAccount")"><span class="fa fa-fw fa-sign-out"></span>Đăng Xuất</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Dangnhap", "UserAccount")" class="wow slideInLeft"><span class="fa fa-fw fa-sign-in"></span>Đăng Nhập</a>
                    </li>
                }

            </ul>
            <!-- end HOME & RETURN BUTTONS -->

            <div class="row">
                <div class="col-sm-12 text-center">
                    <!-- 6.1 SPIRIT BUBBLES CANVAS -->
                    <canvas class="spirit-bubbles" id="canvas"></canvas>
                    <!-- end SPIRIT BUBBLES CANVAS -->

                    <div>@RenderBody()</div>

                </div>
            </div>
        </div>
    </div>
    <!-- end wrapper -->
    <!-- 7.0 javascript import -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- wow -->
    <script src="~/Assets/js/wow/dist/wow.min.js"></script>
    <!-- wordsrotator -->
    <script src="~/Assets/js/wordsrotator/jquery.wordrotator.min.js"></script>
    <!-- main js -->
    <script src="~/Assets/js/main.js"></script>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 15.5, lng: 108.3},
            zoom: 7
        });
      }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqo8MnAQmieH3VKYSY8zN_wuE2NA7nPd8&callback=initMap">
    </script>

</body>

</html>